.footer {
    height: 380px;
    background-color: #003333 ;
    margin: -10px;
    filter: brightness(90%);
    padding-left: 20px;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 5px solid black;
}


.spacer-80{
    width: 100%;
    height: 90px;
}

.footer > .title {
    font-size: 2em;
}

.footer > .title a {
    text-decoration: none;
    color: whitesmoke;
    transition: 0.5s;
}


.footer > .title a:hover {
    color: #006666;
}

.footer > .links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    padding-bottom: 50px;
}

.footer > .socials > .nav-link{
    font-size: 2em;
}

.footer > .socials > .nav-link a {
    color: whitesmoke;
    transition: 0.2s;
}

.footer > .socials > .nav-link a:hover{
    color: #006666;
}

.footer  > .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    padding-bottom: 50px;
}